<template>
	<div id="app">
		<div class="main-content">
			<div class="container pt-5">
				<div class="row">
					<div class="col-4">
						<button
							type="button"
							class="btn btn-primary"
							data-target="#addmodal"
							data-toggle="modal"
						>
							&nbsp;Add&nbsp;
						</button>
					</div>
					<div class="col-4 offset-md-4">
						<div class="d-flex justify-content-end pr-1">
							<input
								type="text"
								class="form-control custom-form"
								id="search"
								placeholder="Search"
							/>
							<img
								src="@Images/search_48px.png"
								height="25"
								class="mt-2 mr-2 position-absolute invert"
							/>
						</div>
					</div>
				</div>

				<div class="table-responsive pt-3">
					<div style="overflow-x:auto;"></div>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Author</th>
								<th>Copies Available</th>
								<th>Category</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="book in allBooks" :key="book.id">
								<td>{{ book.name }}</td>
								<td>{{ book.author }}</td>
								<td>{{ book.copies }}</td>
								<td>{{ book.category.category }}</td>
								<td>
									<button
										type="button"
										class="btn btn-primary custom-btn"
										data-target="#updatemodal"
										data-toggle="modal"
										v-on:click="editBookModal(book)"
									>
										<img src="@Images/edit.png" height="18" class="mr-1" /> Edit
									</button>
									<button
										type="button"
										class="btn btn-danger custom-btn"
										data-target="#deletemodal"
										data-toggle="modal"
										@click.prevent="deleteBookModal(book.id)"
									>
										<img src="@Images/delete.png" height="18" class="mr-1" />
										Delete
									</button>
									<button
										type="button"
										class="btn btn-info custom-btn"
										data-target="#borrowmodal"
										data-toggle="modal"
										v-on:click="borrowModal(book)"
									>
										<img src="@Images/borrow.png" height="18" class="mr-1" />
										Borrow
									</button>
									<button
										type="button"
										class="btn btn-success custom-btn"
										data-target="#returnmodal"
										data-toggle="modal"
									>
										<img src="@Images/return.png" height="18" class="mr-1" />
										Return
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul class="pagination justify-content-end">
					<li class="page-item">
						<a class="page-link" href="javascript:void(0);">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="javascript:void(0);">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="javascript:void(0);">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="javascript:void(0);">Next</a>
					</li>
				</ul>
			</div>

			<!-- Update Modal -->
			<div class="modal fade" id="updatemodal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Update Book</h4>
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								v-on:click="clearInputFields()"
							>
								&times;
							</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body pl-5 pr-5">
							<div class="form-group">
								<label>ID</label>
								<input
									type="text"
									class="form-control"
									v-model="book.id"
									disabled
								/>
							</div>
							<div class="form-group">
								<label>Name of the Book</label>
								<input type="text" class="form-control" v-model="book.name" />
							</div>
							<div class="form-group">
								<label>Authors Name</label>
								<input type="text" class="form-control" v-model="book.author" />
							</div>
							<div class="form-group">
								<label>Copies</label>
								<input
									type="number"
									class="form-control"
									v-model="book.copies"
								/>
							</div>
							<div class="form-group">
								<label for="customSelect">Category</label>
								<select class="custom-select" v-model="book.category.id">
									<option disabled>Please select a category</option>
									<option
										v-for="category in allCategories"
										:key="category.id"
										:value="category.id"
									>
										{{ category.category }}
									</option>
								</select>
							</div>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button
								v-on:click="editBook()"
								type="button"
								class="btn btn-danger"
								data-dismiss="modal"
							>
								Update Book
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Add Modal -->
			<div class="modal fade" id="addmodal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Add Book</h4>
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								v-on:click="clearInputFields()"
							>
								&times;
							</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body pl-5 pr-5">
							<div class="form-group">
								<label>Name of the Book</label>
								<input type="text" class="form-control" v-model="book.name" />
							</div>
							<div class="form-group">
								<label>Authors Name</label>
								<input type="text" class="form-control" v-model="book.author" />
							</div>
							<div class="form-group">
								<label>Copies</label>
								<input
									type="number"
									class="form-control"
									v-model="book.copies"
								/>
							</div>
							<div class="form-group">
								<label for="customSelect">Category</label>
								<select class="custom-select" v-model="book.category.id">
									<option disabled>Please select a category</option>
									<option
										v-for="category in allCategories"
										:key="category.id"
										:value="category.id"
									>
										{{ category.category }}
									</option>
								</select>
							</div>
						</div>
						<!-- Modal footer -->
						<div class="modal-footer">
							<button
								v-on:click="addBook()"
								type="button"
								class="btn btn-danger"
								data-dismiss="modal"
							>
								Add Book
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Delete Modal -->
			<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Delete</h4>
							<button type="button" class="close" data-dismiss="modal">
								&times;
							</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body pl-5 pr-5">
							<p>Are you sure do you want to delete this?</p>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button
								type="button"
								data-dismiss="modal"
								class="btn btn-sm btn-secondary"
							>
								Close
							</button>
							<button
								type="button"
								data-dismiss="modal"
								v-on:click="removeBook()"
								class="btn btn-sm btn-danger "
							>
								Yes
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Borrow Modal -->
			<div class="modal fade" id="borrowmodal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Borrow Book</h4>
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								v-on:click="clearInputFields()"
							>
								&times;
							</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body pl-5 pr-5">
							<div class="form-group">
								<label>Book ID</label>
								<input
									type="text"
									class="form-control"
									v-model="book.id"
									disabled
								/>
							</div>
							<div class="form-group">
								<label>Name of the Book</label>
								<input
									type="text"
									class="form-control"
									v-model="book.name"
									disabled
								/>
							</div>
							<div class="form-group">
								<label>Author of the Book</label>
								<input
									type="text"
									class="form-control"
									v-model="book.author"
									disabled
								/>
							</div>
							<div class="form-group">
								<label for="customSelect">Patron</label>
								<select class="custom-select" v-model="patron.id">
									<option disabled>Please select a Patron</option>
									<option
										v-for="patron in allPatrons"
										:key="patron.id"
										:value="patron.id"
									>
										{{
											`${patron.last_name},  ${patron.first_name} ${patron.middle_name}`
										}}
									</option>
								</select>
							</div>
							<div class="form-group">
								<label>Copies</label>
								<input
									type="number"
									class="form-control"
									v-model="book.copies"
								/>
							</div>
						</div>
						<!-- Modal footer -->
						<div class="modal-footer">
							<button
								v-on:click="borrowedBook()"
								type="button"
								class="btn btn-danger"
								data-dismiss="modal"
							>
								Add Book
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Return Modal -->
			<div class="modal fade" id="returnmodal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Borrow Book</h4>
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								v-on:click="clearInputFields()"
							>
								&times;
							</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body pl-5 pr-5">
							<div class="form-group">
								<label>Book ID</label>
								<input
									type="text"
									class="form-control"
									v-model="book.id"
									disabled
								/>
							</div>
							<div class="form-group">
								<label>Name of the Book</label>
								<input
									type="text"
									class="form-control"
									v-model="book.name"
									disabled
								/>
							</div>
							<div class="form-group">
								<label>Author of the Book</label>
								<input
									type="text"
									class="form-control"
									v-model="book.author"
									disabled
								/>
							</div>
							<div class="form-group">
								<label for="customSelect">Patron</label>
								<select class="custom-select" v-model="patron.id">
									<option disabled>Please select a Patron</option>
									<option
										v-for="patron in allPatrons"
										:key="patron.id"
										:value="patron.id"
									>
										{{
											`${patron.last_name},  ${patron.first_name} ${patron.middle_name}`
										}}
									</option>
								</select>
							</div>
							<div class="form-group">
								<label>Copies</label>
								<input
									type="number"
									class="form-control"
									v-model="book.copies"
								/>
							</div>
						</div>
						<!-- Modal footer -->
						<div class="modal-footer">
							<button
								v-on:click="borrowedBook()"
								type="button"
								class="btn btn-danger"
								data-dismiss="modal"
							>
								Add Book
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
	data() {
		return {
			book: {
				id: 0,
				name: "",
				author: "",
				copies: 0,
				category_id: 0,
				category: {
					id: 0,
					category: "",
				},
			},
			patron: {
				id: 0,
				email: "",
				last_name: "",
				first_name: "",
				middle_name: "",
			},
			bookBorrowed: {
				patron_id: 0,
				copies: 0,
				book_id: 0,
			},
			bookReturned: {
				patron_id: 0,
				copies: 0,
				book_id: 0,
			},

			search: "",
		};
	},
	methods: {
		...mapActions([
			"fetchBooks",
			"createBook",
			"updateBook",
			"deleteBook",
			"borrowBook",
			"fetchPatrons",
			"fetchCategories",
		]),
		...mapActions({
			fetchBorrowed: "fetchBorrowed",
		}),

		addBook() {
			var book = {
				name: this.book.name,
				author: this.book.author,
				copies: this.book.copies,
				category_id: this.book.category.id,
			};
			this.createBook(book);
		},

		editBookModal(book) {
			var updtBook = {
				id: book.id,
				name: book.name,
				author: book.author,
				copies: book.copies,
				category_id: book.category_id,
				category: {
					id: book.category.id,
					category: book.category.category,
				},
			};

			this.book = {
				...updtBook,
			};
		},

		editBook() {
			var book = {
				id: this.book.id,
				name: this.book.name,
				author: this.book.author,
				copies: this.book.copies,
				category_id: this.book.category.id,
			};

			this.updateBook(book);
		},

		deleteBookModal(id) {
			this.book.id = id;
		},

		removeBook() {
			this.deleteBook(this.book.id);
		},

		borrowModal(book) {
			var display = {
				id: book.id,
				name: book.name,
				author: book.author,
				copies: book.copies,
				category_id: book.category_id,
				category: {
					id: book.category.id,
					category: book.category.category,
				},
			};

			this.book = {
				...display,
			};
		},

		borrowedBook() {
			this.borrowedBook = {
				book_id: this.book.id,
				copies: this.book.copies,
				patron_id: this.patron.id,
			};

			this.borrowBook(this.borrowedBook);
			this.fetchBooks();
		},

		clearInputFields() {
			this.book = {
				id: 0,
				name: "",
				author: "",
				copies: 0,
				category_id: 0,
				category: {
					id: 0,
					category: "",
				},
			};
		},
	},

	computed: mapGetters([
		"allBooks",
		"allCategories",
		"allPatrons",
		"allBorrowed",
	]),

	created() {
		this.fetchBooks();
		this.fetchPatrons();
		this.fetchCategories();
		this.fetchBorrowed();
	},
};
</script>
