<template>
<div id="app">
    <div class="main-content">
       <div class="container pt-5">
            <div class="row mt-5">
                <div class="col-10 col-sm-10 col-lg-6 pb-3">
                    <h6 class="text-muted">Borrowed and returned books</h6>
                    <barchart></barchart>
                </div>
                <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
                    <h6 class="text-muted">Popular book genre </h6>
                    <piechart></piechart>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Barchart from '@Chartdata/barchart.vue'
import Piechart from '@Chartdata/piechart.vue'

export default {
    components:{Barchart, Piechart},
  mounted: function(){
        document.title = "Library System | Dashboard"
  }
}
</script>



