<template>
	<div id="app">
		<div class="main-content">
			<div class="container pt-5">
				<div class="row">
					<div class="col-4">
						<button
							type="button"
							class="btn btn-primary"
							data-target="#addmodal"
							data-toggle="modal"
						>
							&nbsp;Add&nbsp;
						</button>
					</div>
					<div class="col-4 offset-md-4">
						<div class="d-flex justify-content-end pr-1">
							<input
								type="text"
								class="form-control custom-form"
								name=""
								placeholder="Search"
								v-model="search"
							/>
							<img
								src="@Images/search_48px.png"
								height="25"
								class="mt-2 mr-2 position-absolute invert"
							/>
						</div>
					</div>
				</div>

				<div class="table-responsive pt-3">
					<div style="overflow-x:auto;"></div>
					<table class="table table-bordered table-hover" ref="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email Address</th>
								<th>Date Registered</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="patron in allPatrons" :key="patron.id">
								<td>
									{{
										`${patron.last_name},  ${patron.first_name} ${patron.middle_name}`
									}}
								</td>
								<td>{{ patron.email }}</td>
								<td>{{ setDate(patron.created_at) }}</td>
								<td>
									<button
										type="button"
										class="btn btn-primary custom-btn"
										data-target="#updatemodal"
										data-toggle="modal"
										v-on:click="editPatronModal(patron)"
									>
										<img src="@Images/edit.png" height="18" class="mr-1" />Edit
									</button>
									<button
										type="button"
										class="btn btn-danger custom-btn"
										data-target="#deletemodal"
										data-toggle="modal"
										v-on:click="deletePatronModal(patron.id)"
									>
										<img
											src="@Images/delete.png"
											height="18"
											class="mr-1"
										/>Delete
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul class="pagination justify-content-end">
					<li class="page-item">
						<a class="page-link" href="javascript:void(0);">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="javascript:void(0);">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="javascript:void(0);">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="javascript:void(0);">Next</a>
					</li>
				</ul>

				<!-- Add Modal -->
				<div class="modal fade" id="addmodal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Add Patron</h4>
								<button type="button" class="close" data-dismiss="modal">
									&times;
								</button>
							</div>

							<!-- Modal body -->
							<div class="modal-body pl-5 pr-5">
								<form>
									<div class="form-group">
										<label>Last Name</label>
										<input
											type="text"
											class="form-control"
											id="lastName"
											v-model="patron.last_name"
										/>
									</div>
									<div class="form-group">
										<label>First Name</label>
										<input
											type="text"
											class="form-control"
											id="firstName"
											v-model="patron.first_name"
										/>
									</div>
									<div class="form-group">
										<label>Middle Name</label>
										<input
											type="text"
											class="form-control"
											id="middleName"
											v-model="patron.middle_name"
										/>
									</div>
									<div class="form-group">
										<label>Email Address</label>
										<input
											type="email"
											class="form-control"
											id="email"
											v-model="patron.email"
										/>
									</div>
								</form>
							</div>

							<!-- Modal footer -->
							<div class="modal-footer">
								<button
									v-on:click="addPatron()"
									type="submit"
									class="btn btn-danger"
									data-dismiss="modal"
								>
									Add Patron
								</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Update Modal -->
				<div class="modal fade" id="updatemodal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Update Patron</h4>
								<button
									type="button"
									class="close"
									data-dismiss="modal"
									v-on:click="clearFields()"
								>
									&times;
								</button>
							</div>

							<!-- Modal body -->
							<div class="modal-body pl-5 pr-5">
								<form>
									<div class="form-group">
										<label>ID</label>
										<input
											type="text"
											class="form-control"
											v-model="patron.id"
											disabled
										/>
									</div>
									<div class="form-group">
										<label>Last Name</label>
										<input
											type="text"
											class="form-control"
											v-model="patron.last_name"
										/>
									</div>
									<div class="form-group">
										<label>First Name</label>
										<input
											type="text"
											class="form-control"
											v-model="patron.first_name"
										/>
									</div>
									<div class="form-group">
										<label>Middle Name</label>
										<input
											type="text"
											class="form-control"
											v-model="patron.middle_name"
										/>
									</div>
									<div class="form-group">
										<label>Email Address</label>
										<input
											type="email"
											class="form-control"
											v-model="patron.email"
										/>
									</div>
								</form>
							</div>

							<!-- Modal footer -->
							<div class="modal-footer">
								<button
									v-on:click="editPatron()"
									type="button"
									class="btn btn-danger"
									data-dismiss="modal"
								>
									Update Patron
								</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Delete Modal -->
				<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Delete</h4>
								<button type="button" class="close"></button>
							</div>

							<!-- Modal body -->
							<div class="modal-body pl-5 pr-5">
								<p>Are you sure do you want to delete this?</p>
							</div>

							<!-- Modal footer -->
							<div class="modal-footer">
								<button
									type="button"
									class="btn btn-sm btn-secondary"
									data-dismiss="modal"
								>
									Close
								</button>
								<button
									type="submit"
									data-dismiss="modal"
									v-on:click="removePatron()"
									class="btn btn-sm btn-danger"
								>
									Yes
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
	mounted: function() {
		document.title = "Library System | Patron";
	},
	data() {
		return {
			patron: {
				id: 0,
				email: "",
				last_name: "",
				first_name: "",
				middle_name: "",
			},
			search: "",
		};
	},
	methods: {
		...mapActions([
			"fetchPatrons",
			"createPatron",
			"updatePatron",
			"deletePatron",
		]),

		addPatron() {
			var patron = {
				last_name: this.patron.last_name,
				first_name: this.patron.first_name,
				middle_name: this.patron.middle_name,
				email: this.patron.email,
			};

			this.createPatron(patron);
			this.fetchPatrons();
		},

		editPatron() {
			var patron = {
				id: this.patron.id,
				last_name: this.patron.last_name,
				first_name: this.patron.first_name,
				middle_name: this.patron.middle_name,
				email: this.patron.email,
			};
			this.updatePatron(patron);
		},

		removePatron() {
			this.deletePatron(this.patron.id);
		},

		deletePatronModal(id) {
			this.patron.id = id;
		},

		editPatronModal(patron) {
			this.patron.id = patron.id;
			this.patron.last_name = patron.last_name;
			this.patron.first_name = patron.first_name;
			this.patron.middle_name = patron.middle_name;
			this.patron.email = patron.email;
		},

		setDate(date) {
			const d = new Date(date);
			const MM = new Intl.DateTimeFormat("en", { month: "long" }).format(d);
			const DD = new Intl.DateTimeFormat("en", { day: "2-digit" }).format(d);
			const YYYY = new Intl.DateTimeFormat("en", { year: "numeric" }).format(d);
			return `${MM} ${DD}, ${YYYY}`;
		},
		clearFields() {
			this.patron = {
				id: 0,
				first_name: "",
				middle_name: "",
				last_name: "",
				email: "",
			};
		},
	},
	computed: mapGetters(["allPatrons"]),
	created() {
		this.fetchPatrons();
	},
};
</script>
