@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@300;400&display=swap');
html {
    height: 100%;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .side-nav {
    height: 100%;
    width: 275px;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: #335ACB;
    overflow-x: hidden;
    box-shadow: 8px 0 8px -6px rgba(44, 50, 56, 0.8), -5px 0 8px -6px rgba(31, 73, 125, 0.8);
    transition: all 400ms;
  }
  
  .logo-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    font-weight: 100;
    color: #FFFFFF;
  }
  
  .side-nav .logo-name:hover {
    cursor: default;
  }
  
  .logo {
    padding-top: 10px;
  }
  
  .JRI {
    border-radius: 50%;
  }
  
  hr.divider {
    border-top: 1.5px solid;
    width: 237.55px;
    color: #D3CCCC;
  }
  
  hr.vertical-divider {
    border-left: 2px solid;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    top: 0;
    line-height: 10px;
    height: 33px;
    width: 0;
    color: #D3CCCC;
  
  }
  
  .side-nav a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    color: #ffff;
    display: block;
  
  }
  
  .side-nav .option:hover {
    color: #a5b3a8;
    transition: all 250ms;
  }
  
  .option {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
  
    color: #FFFFFF;
  }
  
  
  
  .element-container {
    width: 100%;
    height: 55px;
    position: relative;
  }
  
  .element {
    position: absolute;
    margin-top: 2px
  }
  
  a.router-link-exact-active {
    position: relative;
    height: 55px;
    background-color: rgba(121, 120, 194, 0.7);
  }
  
  .top-nav {
    width: calc(100% - 275px);
    padding-left: 270px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(7, 0, 0, 0.2);
    height: 4.4rem;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
  
  }
  
  .nav-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    padding-right: 1rem;
    padding-top: 6px;
    display: inline-block;
  
  }
  
  .link-logout {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 12px;
    text-decoration: none;
    color: #847D7D;
  }
  
  
  .main-content {
    margin-left: 265px;
    padding: 0px 10px;
    margin-top: 6rem;
  }
  
  .custom-form {
    color: #000000;
    display: block;
    width: 24rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  
  }
  
  .invert {
    transform: scaleX(-1);
  }
  
  .custom-btn{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-right: 7px;
  }
  
  thead {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 1000;
    font-size: 18px;
    line-height: 16px;
    
  }
  
  td {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    line-height: 3rem;
  }
  
  
  
  
  @media only screen and (max-width: 768px) {
    html {
      font-size: .9rem;
    }
  
    .side-nav {
      width: 90px;
    }
  
    .main-content {
      margin-left: 120px;
    }
  
    .active {
      height: 50px;
    }
  
  
    .custom-btn{
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 0px !important;
      text-align: center;
      width: 44px;
      line-height: -2.5rem;
    }
    
    .option {
      display: none;
    }
  
    .logo-name {
      display: none;
    }
  
    .JRI {
      margin-left: -15px;
    }
  
    .top-nav {
      width: calc(100% - 90px);
    }
  
    .nav-container {
      margin-left: 125px;
    }
  }